header{
    background-image: url(../img/gasasasas.jfif);
    height: 155px;
    display: flex;
    justify-content: flex-end;
    position: fixed; 
    top: 0px;
    width: 99%;
    
}
nav ul li{
    background-color: rgb(76, 138, 156);
    display: inline;
    padding: 10px;
    margin: 5px;
    
}
nav{
    position: fixed;
}
h1{
    background-color: rgb(0, 0, 0);
    height: 40px;
    padding: 20px;
    color: white;
}
article{
    background: linear-gradient(red, blue, black);
    width: 90%;
    height: 600px;
    margin-left: 5%;
    padding-top: 150px;
}
article h2{
    text-align: center;
    color: white;
}