header{
    background-image: url(../img/negocio.jpg);
    height: 150px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: -2px;
    width: 100%;
    
}
nav ul li{
    background-color: rgb(1, 120, 255);
    display: inline;
    padding: 10px;
    margin: 5px;
}
nav{
    position: fixed;
}
h1{
    background-color: rgb(255, 255, 255);
    height: 40px;
    padding: 20px;
}
article{
    background: linear-gradient(blue,yellow);
    width: 90%;
    height: 600px;
    margin-left: 5%;
    padding-top: 150px;
}
article h2{
    text-align: center;
}